.footer{
     padding: 1em;

     width: 100%;
     height: 20vh;

     display: flex;
     flex-direction: column;

     background-color: $background-footer;

     > &__logo{
          margin: 1em 0;
          width: 40%;
     }

     > &__navigation{
          &-menu{
               list-style: none;

               &-items{ 
                    > a, i{
                         font-size: 18px;
                         color: $main-white;
                    }
               }
          }
     }
}

@media only screen and (min-width: 1024px){
     .footer{
          height: 25vh;
          > &__logo{
               margin: 1em 0;
               width: 10%;
          }
     }
}