.header{
     width: 100%;
     height: 7vh;

     display: flex;
     align-items: center;
     justify-content: center;

     position: relative;

     > a{
          position: absolute;
          left: 2em;
     }

     &__logo{
          width: 50%;

          display: flex;
          align-items: center;
          justify-content: center;

          > img{
               width: 80%;
               object-fit: cover;
          }
     }
}

@media only screen and (min-width: 1024px){
     .header{
          height: 10vh;

          &__logo{
               width: 20%;
          }
     }
}