body{
     color: $text-color;
     background-color: $main-white;
     font-family: $main-font;

     scroll-behavior: smooth;
}

i{
     color: $text-color;
}

a{
     color: $text-color;
     text-decoration: none;
}

.element{
     opacity: 0;
     transition: opacity 0.5s ease-in-out;
}